# Segmenting and Clustering Neighbourhoods in Toronto

In [1]:
!pip install geocoder

Requirement already satisfied: geocoder in c:\users\pratik\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: click in c:\users\pratik\anaconda3\lib\site-packages (from geocoder) (7.1.2)
Requirement already satisfied: ratelim in c:\users\pratik\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: future in c:\users\pratik\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: six in c:\users\pratik\anaconda3\lib\site-packages (from geocoder) (1.15.0)
Requirement already satisfied: requests in c:\users\pratik\anaconda3\lib\site-packages (from geocoder) (2.25.1)
Requirement already satisfied: decorator in c:\users\pratik\anaconda3\lib\site-packages (from ratelim->geocoder) (5.0.6)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\pratik\anaconda3\lib\site-packages (from requests->geocoder) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pratik\anaconda3\lib\site-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\pratik\anaconda3\lib\site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pratik\anaconda3\lib\site-packages (from requests->geocoder) (1.26.4)

Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Imported!

Reading the Toronto.csv which created on Part 1 Notebook

In [3]:
df = pd.read_csv('toronto.csv')
df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

In [5]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['PostalCode', 'Borough'])
df = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [6]:
print(df.shape)
df.describe()

(103, 3)

       PostalCode     Borough                                 Neighborhood
count         103         103                                          103
unique        103          15                                          103
top           M4G  North York  Kennedy Park, Ionview, East Birchmount Park
freq            1          24                                            1

In [7]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

In [9]:
# Retrieving Postal Code Co-ordinates
postal_codes = df['PostalCode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [10]:
# Adding Columns Latitude & Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [12]:
df[df.PostalCode == 'M5G']

   PostalCode           Borough        Neighborhood  Latitude  Longitude
57        M5G  Downtown Toronto  Central Bay Street  43.65609  -79.38493

In [13]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.81139,-79.19662
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.78574,-79.15875
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.76575,-79.17470
3,M1G,Scarborough,Woburn,43.76812,-79.21761
4,M1H,Scarborough,Cedarbrae,43.76944,-79.23892

In [14]:
df[df.PostalCode == 'M3A']

   PostalCode     Borough Neighborhood  Latitude  Longitude
25        M3A  North York    Parkwoods  43.75245  -79.32991

In [15]:
df.to_csv('toronto_part2.csv',index=False)